

<header role="banner" id="top">
        <nav class="navbar navbar-static-top headerDiv" role="navigation">
        <div class="container">		
            <div class="navbar-collapse navHead">
                <div style="float: right;">
                    <div class="nav navbar-nav navbar-right headerHelp">
                            <a class="helpAnchor" target="_blank" href="../assets/helpfiles/help.htm"><img class="helpImage" src="assets/images/help-circle.png">Help</a>
                    </div>
                </div>
                   <div class="logo">
                     <!-- <h1 class="headerTitle">Archive Search</h1>-->
					 <img src="assets/images/logo.png" alt="image">
                </div>				
        </div>
    </div>
    </nav>
</header>